#!/bin/sh

{{- if .codespaces }}
echo Skipping key.txt description on codespaces
{{- else }}
if [ ! -f "$HOME/key.txt" ]; then
    age --decrypt --output "$HOME/key.txt" "{{ .chezmoi.sourceDir }}/key.txt.age"
    chmod 600 "$HOME/key.txt"
fi
{{- end }}
