#!/bin/bash

# Install / Update NVM
curl -o- https://raw.githubusercontent.com/nvm-sh/nvm/v0.39.2/install.sh | bash

# Install / Update Cargo
curl https://sh.rustup.rs -sSf | sh -s -- -y

{{ if (eq .chezmoi.os "darwin") -}}
# Install / Update brew pkgs
brew bundle --no-lock --file=/dev/stdin <<EOF
brew "direnv"
brew "starship"
brew "yarn"
brew "autojump"
brew "thefuck"
tap "heroku/brew"
brew "heroku"
brew "ccat"
brew "prettyping"
brew "exa"
brew "git"
brew "gh"
EOF
{{ end -}}

yarn global add @electron/build-tools npmrc
npmrc default
